* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Avenir', sans-serif;
}

#books-container {
  justify-self: center;
}

#books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  justify-self: center;
  gap: 1em;
  padding: 1em;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #f3f4f6;
  min-width: 668px;
  min-height: 236px;
}

nav {
  border: 2px solid black;
  display: flex;
  background-color: black;
  justify-content: center;
  color: white;
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2)
}

.book-card {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
}

.my-modal {
  z-index: 1000;
  min-height: 200px;
  min-width: 200px;
  background-color: black;
  color: white;
  position: absolute;
  align-self: center;
  left: 50vw;
  transform: translateX(-50%);
  padding: 1em;

  & > * {
    margin: 0 0 0.5rem 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

label {
  padding: 1em;
}

#modal-btns-container {
  display: flex;
  min-width: 100%;
  gap: 1em;
}

.close-modal-button {
  padding: 5px;
  flex: 1;
}

ul {
  list-style-type: none;
  font-size: 0.8em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

li {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;

}

.grid-container {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 9fr 0.5fr;
  min-height: 100vh;
}

#add-book-container {
  display: flex;
  justify-content: center;
  align-items: center;
 }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-top: 1em;
}

p, h1 {
  text-align: center;
  padding: 0;
  margin: 0;
}

.book-btn {
  width: 2em;
  height: 2em;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  color: green;
  accent-color: #28a745;
}

#add-book-btn {
  margin: 1em;
}

