* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

.bookCard {
  border: 1px solid black;
}
